:root {
  --darkest-gray-color: rgb(66, 66, 66);
  --dark-gray-color: #494949;
  --light-gray-color: rgb(99, 99, 99);
  --lightest-gray-color: rgb(114, 114, 114);
  --light-color: rgb(218, 218, 218);
  --whit-color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Core Styles */

body {
  font-family: 'Lato', sans-serif;
  color: var(--whit-color);
}

a {
  text-decoration: none;
  color: var(--whit-color);
}

/* Utility Classes */
.grid {
  display: grid;
}

.flex-center-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.flex-center-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.bg-darkest {
  background: var(--darkest-gray-color);
}

.bg-dark {
  background: var(--dark-gray-color);
}

.bg-light {
  background: var(--light-gray-color);
}

.bg-lightest {
  background: var(--lightest-gray-color);
}

.bg-white {
  background-color: var(--light-color);
}

.avatar {
  display: inline-block;
  padding: 10px;
  margin: 15px;
  margin-left: 0;
  background-color: var(--light-color);
  color: var(--darkest-gray-color);
  border-radius: 18%;
}

.text-center {
  text-align: center;
}

/* Main Container */
.container {
  grid-template-areas:
    'nav'
    'main'
    'footer';
  grid-auto-rows: auto auto 642.5px;
}

nav {
  grid-area: nav;
  padding-top: 1rem;
}

.main-navigation {
  grid-template-columns: auto repeat(6, 1fr);
  height: 100%;
}

.main-navigation img {
  width: 250px;
  height: 110px;
}

.main-navigation a {
  display: flex;
  padding: 1.25rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
}

.main-navigation i {
  font-size: 2.3rem;
  padding-bottom: 1.5rem;
}

.main-navigation span {
  display: inline-block;
  width: 150px;
  height: 70px;
  border: 2px solid var(--whit-color);
  margin-top: 1rem;
}

.main-navigation em {
  font-size: 0.89rem;
  padding-top: 0.7rem;
}

.main-navigation .logo-link {
  display: block;
}

/* Main Section */
main {
  grid-area: main;
}

.latest-articles {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 703.05px);
  position: relative;
}

.t-shape {
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  margin-top: 3rem;
  position: absolute;
  color: #000;
  font-size: 2.5rem;
  font-weight: 600;
  white-space: nowrap;
}

.t-shape span {
  padding: 1rem;
}

.t-shape span:last-child {
  display: inline-block;
  margin-top: 0.4rem;
}

.article-container {
  background: #888;
  width: 600px;
  height: 300px;
  padding: 2rem;
  margin: 50px auto;
}

.latest-articles h2 {
  font-size: 2.5rem;
}

.latest-posts {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* Footer Section */
footer {
  grid-area: footer;
  background: green;
}
